@page "/allcocktails"
@using Shaker.Client.Services
@using Shaker.Client.Dtos
@using Shaker.Client.Helpers
@inject DataService DataService
@inject CocktailsStateService CocktailsStateService
@implements IDisposable
@inject BarStateService BarStateService
@inject CocktailService CocktailService

<div class="container text-center">
    <h2>Всі коктейлі</h2>
    
    @if(_loading) {
        <p>Завантаження...</p>
    }
    else {
        if (_failed) {
            <p>@_errorMessage</p>
        }
        else if (_ingredientsEmpty) {
            <p>Інгрідієнти недоступні.</p>
        }
        else if(_cocktailsEmpty) {
            <p>Коктейлі недоступні.</p>
        }
        else {

            <div class="mb-3">
                <input id="search-all-cocktail" type="text" class="form-control" placeholder="Знайти за назвою або рецептом"  @bind="_searchQuery" @oninput="OnInput">
            </div>
            <div class="row gx-3 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3">
                @foreach (var cocktail in _searchedCocktails) {
                    <CocktailCard Cocktail="cocktail" IgnoreFavoriteAndHideIcons=true></CocktailCard>
                }
            </div>
        }
    }
    <a href="/allcocktails/#" type="button" class="btn btn-secondary to-top">На початок &#8593;</a>
</div>

@code {
    private List<Cocktail> _allCocktails = new();
    private List<Cocktail> _searchedCocktails = new();
    
    private bool _ingredientsEmpty;
    private bool _cocktailsEmpty;
    
    private bool _loading = true;
    private bool _failed;
    private string _errorMessage = "";
    
    private string _searchQuery = "";
    private Timer? _debounceSearchTimer;


    protected override async Task OnInitializedAsync() {
        _debounceSearchTimer = new Timer(Search, null, Timeout.Infinite, Timeout.Infinite);
        BarStateService.OnCurrentBarChange += OnCurrentBarBarChanged;
        await LoadAndSetAllCocktails();
    }
    
    private async Task OnCurrentBarBarChanged() {
        DataService.ClearCachedBar();
        await LoadAndSetAllCocktails();
        StateHasChanged();
    }

    private async Task LoadAndSetAllCocktails() {
        Bar bar;
        List<Ingredient> allIngredients;
        // load all ingredients
        try {
            allIngredients = await DataService.LoadIngredientsAsync();
            if (allIngredients.Count == 0) {
                await CocktailsStateService.SetCalculatedCocktailsCountsAsync(0, 0);
                _ingredientsEmpty = true;
                _loading = false;
                return;
            }
        }
        catch {
            _failed = true;
            await CocktailsStateService.SetCalculatedCocktailsCountsAsync(0, 0);
            _errorMessage = "Не вдалося завантажити інгрідієнти.";
            _loading = false;
            return;
        }

        // load all cocktails
        try {
            _allCocktails = await DataService.LoadCocktailsAsync();
            await CocktailsStateService.SetAllCocktailsCountAsync(_allCocktails.Count);
            if (_allCocktails.Count == 0) {
                _cocktailsEmpty = true;
                await CocktailsStateService.SetCalculatedCocktailsCountsAsync(0, 0);
                _loading = false;
                return;
            }
        } catch {
            _failed = true;
            _errorMessage = "Не вдалося завантажити рецепти коктейлів.";
            _loading = false;
            await CocktailsStateService.SetCalculatedCocktailsCountsAsync(0, 0);
            return;
        }
        
        _searchedCocktails = _allCocktails.ToList();
        
        // map all cocktails
        foreach(var cocktail in _allCocktails) {
            cocktail.Ingredients = allIngredients
                .Where(ingredient => cocktail.Ingredients.Any(i => i.Id == ingredient.Id))
                .ToList();
        }
        
        var currentBarId = await BarStateService.GetBarAsync();
        if (currentBarId == -1) {
            await CocktailsStateService.SetCalculatedCocktailsCountsAsync(0, 0);
            _loading = false;
            return;
        }
        
        // load bar
        try {
            bar = await DataService.LoadBarAsync(currentBarId);
            if (bar.Ingredients.Count == 0) {
                _loading = false;
                await CocktailsStateService.SetCalculatedCocktailsCountsAsync(0, 0);
                return;
            }
        }
        catch {
            await CocktailsStateService.SetCalculatedCocktailsCountsAsync(0, 0);
            _loading = false;
            return;
        }
        
        bar.Ingredients = allIngredients
            .Where(ingredient => bar.Ingredients.Any(i => i.Id == ingredient.Id))
            .ToList();
        
        var availableCocktails = CocktailService.GetAvailableCocktails(bar, _allCocktails);
        await CocktailsStateService.SetCalculatedCocktailsCountsAsync(availableCocktails.Count, bar.Ingredients.Count);
        _loading = false;
    }
    
    private void OnInput(ChangeEventArgs e)
    {
        _searchQuery = e.Value?.ToString() ?? "";
        _debounceSearchTimer!.Change(250, Timeout.Infinite);
    }
    
    private async void Search(object? state)
    {
        await InvokeAsync(() => {
            _searchedCocktails = SearchHelper.SearchCocktails(_allCocktails, _searchQuery);
            StateHasChanged();
        });
    }

    public void Dispose() {
        _debounceSearchTimer?.Dispose();
        BarStateService.OnCurrentBarChange -= OnCurrentBarBarChanged;
    }
}