@using Shaker.Client.Dtos

<div class="col mb-3">
    <div class="card mx-auto">
        @* <img src="..." class="card-img-top" alt="..."> *@
        <div class="card-body">
            <h2 class="card-title">@Cocktail.Name</h2>
            <p class="card-text">@Cocktail.Recipe</p>
        </div>
        <ul class="list-group list-group-flush text-left">
            @foreach (var ingredient in Cocktail.Ingredients) {
                <li class="list-group-item">@ingredient.Name</li>
            }
        </ul>
    </div>
</div>


@code {
    [Parameter]
    public Cocktail Cocktail { get; set; } = new();
}