@inject IJSRuntime JSRuntime

@inherits LayoutComponentBase

<TopMenu/>
<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("setThemeManager");
        }
    }
}