@inject IJSRuntime JSRuntime
@inject NavigationManager Navigation


@inherits LayoutComponentBase

@if (new Uri(Navigation.Uri).AbsolutePath != "/") {
    <TopMenu/>
}
@Body

<button id="to-top" type="button" class="btn btn-secondary to-top" @onclick="ToTopAsync"></button>


@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JSRuntime.InvokeVoidAsync("setThemeManager");
        }
    }
    
    private async Task ToTopAsync() {
        await JSRuntime.InvokeVoidAsync("toTop");
    }
}


<script>
    function toTop() {
        if (location.pathname === "/allcocktails") {
            let allCocktailsScrollable = document.getElementById("all-cocktails-content-wrapper");
            allCocktailsScrollable.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        } else if (location.pathname === "/mycocktails") {
            let myCocktailsScrollable = document.getElementById("my-cocktails-content-wrapper");
            myCocktailsScrollable.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        } else if (location.pathname === "/ingredients") {
            let myIngredientsScrollable = document.getElementById("my-ingredients-content-wrapper");
            myIngredientsScrollable.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
    }
    
    function setMenuButton() {
        const menuButton = document.getElementById('cocktails-menu-button');
        if (menuButton) {
            if (location.pathname === '/') {
                menuButton.style.display = 'none';
            } else {
                menuButton.style.display = 'block';
            }
        }
    }
</script>